# Node modules
node_modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
dist

# Build directories
build
.cache
coverage
.eslintcache

# Environment variables
.env
.env.local
.env.*.local

# Docker files
Dockerfile
docker-compose.yml

# Git files
.git
.gitignore

# IDE and editor files
.idea
.vscode
*.swp
*.swo
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# DB Data for seeding
dataForSeeding
